07S1APPEND-WL-1A_EN.pdf
backup_screen.png
CasioXW_EDITOR-20260716T172837Z-1-001.zip
param_edit_1.png
param_edit_2.png
param_edit_3.png
param_edit_4.png
param_edit_5.png
preferences.png
transfer_dropdown.png
transfer.png
XWP1_1B_EN.pdf
XWP1_midi_EN.pdf
CASIO DataEditor for XW-P1/DataEditorP1.exe
CASIO DataEditor for XW-P1/LGPL.txt
CASIO DataEditor for XW-P1/libgcc_s_dw2-1.dll
CASIO DataEditor for XW-P1/mingwm10.dll
CASIO DataEditor for XW-P1/QtCore4.dll
CASIO DataEditor for XW-P1/QtGui4.dll
CASIO DataEditor for XW-P1/UserData/XW-P1_260716.ZAL
CasioXW_EDITOR/CASIO XW EDITOR v01.00.pdf
CasioXW_EDITOR/CasioXW-EDITOR-v0101.bpanelz
CasioXW_EDITOR/CasioXW-EDITOR-v0101.exe
CasioXW_EDITOR/README.txt
ctrlr_panel_2.png
ctrlr_panel_1.png
